@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* border: 3px dashed black; */

  overflow-x: hidden;
  margin: 0px;
  padding: 0px;

}
.rapid7-logo {
  filter: invert(100%) brightness(0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
