.reviewCard{
    height: 90%;
padding: 10px;
/* border: 0.001px solid black; */
border-radius: 10px;
width: 280px;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
padding-bottom: 60px;
position: relative;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
transition: transform 0.3s ease-in-out;
}

.reviewCard:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.05);
}
.reviewdiv{
    margin-top: 20px;
}
.title{
    font-weight: bold;
    font-size: 1rem;
    color: rgb(123, 40, 80);
}
.description{
    /* text-align:center;
     */
    font-size: 1rem;
    font-family: poppins;
    color: rgb(42, 42, 42);
    font-weight: bold;
    margin:5px;
}
.img{
    width: 100%;
    height: 300px;
    /* border-radius: 10px; */
}
.linksDiv{
    position: absolute;
    bottom: 30px;
    right: 35%;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* border: 1px solid black; */
}
.btn{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

