.container{
    background: rgb(250, 249, 255);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.banner{
    height: 200px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.banner img{
    display: block;
    width: 100%;
    height: 200px;
}

.banner h1{
     position: absolute;
     bottom: 27%;
     left: 16%;
     color: rgb(207, 197, 197);
     font-size: 30px;
     font-family: poppins;
     font-weight: bold;
}

.PdfDiv{
    display: flex;
    background: rgb(251, 246, 246);
}
.PdfDiv img{
    /* width: 800px;
    height: 500px; */
    display: block;
    width: 100%;
    height: 350px;
}
.textpdf{
    max-width: 100%;
    margin-left: -20px;
    background: rgb(240, 252, 254);
    padding: 5%;
    margin-top: 10px;
    border-radius: 20%;
}
.textpdf h1{
    font-size: 19px;
    font-family: poppins;
    color: rgb(77, 76, 76);
    font-weight: bold;
}
.pdfDownloadBtn{
    width: 300px;
    height: 50px;
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    transition: ease-out 1.9s;
}

.parent{
    display: flex;
    background: rgb(226, 224, 224);
}
.child1{
    margin-left: 11%;
    margin-right: 20px;
}
.child1 h1{
    font-size: 25px;
}
.child1 h4{
    color: blue;
    font-size: 19px;
    font-family: poppins;
    font-weight: bold;
}
.child1 p{
    font-size: 19px;
    font-family: poppins;
    color: rgb(138, 133, 133);
    font-weight: lighter;
}
.link{
    text-decoration: none;
    text-align: center;
}
.childdiv{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.border{
    width: 3px;
    height: 90px;
    background: blue;
    border-radius: 5px;
}
.call{
    display: flex;
}
.icondiv{
    /* position: relative; */
    width: 30px;
    height: 30px;
    padding: 15px;
    background: white;
    border-radius: 40%;
    margin-top: 5px;

}
.icon{
    /* position: absolute; */
    color: rgb(30, 255, 0);
    font-size: 30px;
    
    
}
.call h2{
    font-size: 19px;
    font-family: poppins;
    color: rgb(76, 74, 74);
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 5px;
}
.call h1{
    font-size: 19px;
    font-family: poppins;
    color: rgb(13, 28, 228);
    font-weight: bold;
    margin-left: 20px;
    margin-top: -5px;
}
.founder h3{
font-size: 25px;
font-family: poppins;
color: rgb(78, 78, 77);
margin-top:-10px;
}
.founder{
    margin-top: -30px;
}
.child2 img{
    width: 600px;
}

.Review{
    background: rgb(202, 201, 201);
    }
    
    .ReviewDiv{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        }
        .ReviewPersonDiv {
            display: flex;
            background: rgb(202, 201, 201);
            justify-content: center;
            align-items: center;
            gap:20px;
}
.ReviewPerson{
    display: flex;

}

.ReviewPerson img{
    width: 80px;
}
.ReviewPerson p{
    font-size: 1rem;
    font-family: poppins;
    color: rgb(121, 121, 123);
    font-weight: lighter;
    text-align: center;
    margin:5px;
}

.Reviewdiv1 h2{
    font-size: 0.5rem;
    font-family: poppins;
    color: rgb(19, 19, 207);
    font-weight: lighter;
    margin:5px;
}
.Reviewdiv1 h1{
    font-size: 0.9rem;
    font-family: poppins;
    color: rgb(45, 45, 47);
    font-weight: bold;
    margin:5px;
}

.Reviewdiv1{
    margin-left:10px;
    right:5%;
    background: rgb(255, 255, 255);
    width: 50%;
    margin-bottom: 20px;

}
.Quote p{
    text-align: center;
    color: blue;
    font-size: 16px;
    font-family: poppins;
    font-weight: lighter;
}

.Quote h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
}
.btn1{
    background: rgb(86, 207, 195);
    color: rgb(18, 18, 18);
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;
    font-family: poppins;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 5px;
}
.btn1:hover{
    background: rgb(0, 0, 0);
    color: white;
    transition: ease-in-out 1.9s;
}
.Postreview{
    display: grid;
    grid-template-columns: repeat(2,49%);
    text-align: center;
    margin-bottom: 1%;
    place-items: center;
    padding: 0px;
}

.PostReviewText h1{
    font-size: 40px;
    font-family: poppins;
    color: rgb(65, 67, 67);
    font-weight: bold;
    text-align: center;
}
.reviewGif{
    width: 100%
}
.reviewGif img{
    width: 100%;
    min-height: 300px;
}

.consult {
    margin-top: 10px;
    width: 100%;
    height: 250px;
    background: rgb(105, 139, 136);
    margin-top: -20px;
    background-size: cover;
}
.consult .img{
    position: absolute;
    display: block;
    width: 100%;
    height: 250px;
}

.consultdiv {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    padding: 20px;
    background: transparent;
    top:30%
}
.consultText p{
    font-size: 23px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-align: center;
}
.consultText h1{
    font-size: 50px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin:5px;
}

.btn2{
    border: none;
    background: transparent;
    color: rgb(187, 186, 189);
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-family: poppins;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 5px;
}

.btn2:hover{
    background: rgb(139, 138, 138);
    color: white;
}

@media screen and (max-width: 900px) {
    .PdfDiv{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        place-items: center;
    }
    .textpdf {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      padding: 50px;
      font-size: 0.5rem;
      place-items: center;
        
    }
    .pdfImg{
        display: block;
        max-width: 100%;
    }
    .childdiv{
        flex-direction: column;
    }
    .border{
        width: 250px;
        height: 2px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .parent{
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    /* .child2{
        width: 400px;
        height: 500px;
    } */
    .child2 img{
        width: 100%;
        object-fit: contain;
    }

.ReviewPersonDiv {
    flex-direction: column;
}
.Reviewdiv1{
    width: 90%;

}
.ReviewPerson img{
    width: 40px;
    height: 40px;
}
.ReviewPerson p{
    font-size: 14px;
    font-family: poppins;
    color: rgb(121, 121, 123);
    font-weight: lighter;
    text-align:left;
}
.Postreview{
    grid-template-columns: repeat(1,99%);
    /* padding: 5%; */
    margin-bottom: 2%;
}
.PostReviewText h1{
    font-size: 1rem;
    font-family: poppins;
    color: rgb(65, 67, 67);
    font-weight: bold;
    text-align: center;
}
.reviewGif{
    width: 100%
}
.reviewGif img{
    width: 100%;
    min-height: 250px;
}
.consult .img{
    position: absolute;
    width: 100%;
    display: block;
    height: 250px;
}
.consultdiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    padding: 20px;
    background: transparent;
    top:10%
}
.consultText p{
    font-size: 16px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-align: center;
}
.consultText h1{
    font-size: 1rem;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    .PdfDiv{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        place-items: center;
    }
    .textpdf {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      padding: 50px;
      font-size: 0.5rem;
      place-items: center;
        
    }
    .pdfImg{
        display: block;
        max-width: 100%;
    }
    .parent{
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .child2 {
        display: grid;
        place-items: center;
    }
}