.container{

    background: rgb(240, 243, 246);
}
.faq{
    width: 60%;
    margin-left: 17%;
    padding: 20px;
}
.faq h1{
    text-align: center;
    font-size: 40px;
    color: rgb(69, 80, 90);
    font-weight: bold;
    font-family:serif;
}
.underline{
    background: brown;
    height: 2px;
    justify-content:center ;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;

    
}

.faq p{
    text-align: center;
    font-size: 30px;
    font-weight:lighter;
    color: rgb(115, 115, 115);
    font-family:poppins;
    margin-top: 40px;
    


}

.questions{
    width:60%;
    margin: 0% 10% 0% 17%;
    background: #f3fbfc;
    padding: 20px;
    box-shadow: rgba(1, 20, 39, 0.2) 0px 8px 24px;
}
.ques{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: rgba(1, 12, 24, 0.2) 0px 8px 24px;

}
.ques h1{
    text-align: center;
    font-size: 30px;
    color: rgb(69, 80, 90);
    font-weight: bold;
    font-family:serif;
}
.ques h1:hover{
    text-align: center;
    font-size: 30px;
    color: rgb(32, 33, 34);
    font-weight: bold;
    font-family:serif;
    cursor: pointer;
}
.btn button{
    width: 30px;
    height: 30px;
    background: rgb(133, 158, 130);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 26px;
}
.questions p{
    font-size: 20px;
    color: rgb(115, 115, 115);
    font-weight: lighter;
    font-family:poppins;

}
.under{
    width: 100%;
    background: rgb(120, 111, 111);
    height: 2px;
    font-weight: bold;
    margin-bottom: 15px;
    
}


/*-----------------Responsive ness----------------*/


/* CSS for 300px */
@media only screen and (max-width: 300px) {
    .faq{
        width: 90%;
        margin-left: 5%;
    }
    .faq h1{
        font-size: 30px;
    }
    .underline{
        margin-left: 5%;
        margin-right: 5%;
    }
    .faq p{
        font-size: 20px;
        margin-top: 20px;
    }
    .questions{
        width: 90%;
        margin: 0 5%;
    }
    .ques h1{
        font-size: 20px;
    }
    .btn button{
        width: 20px;
        height: 20px;
        font-size: 16px;
        margin-top: 20px;
    }
    .questions p{
        font-size: 16px;
    }
}

/* CSS for 648px */
@media only screen and (min-width: 301px) and (max-width: 648px) {
    .faq{
        width: 80%;
        margin-left: 10%;
    }
    .faq h1{
        font-size: 35px;
    }
    .underline{
        margin-left: 20%;
        margin-right: 20%;
    }
    .faq p{
        font-size: 25px;
        margin-top: 30px;
    }
    .questions{
        width: 80%;
        margin: 0 10%;
    }
    .ques h1{
        font-size: 25px;
    }
    .btn button{
        width: 25px;
        height: 25px;
        font-size: 18px;
        margin-top: 23px;
    }
    .questions p{
        font-size: 18px;
    }
}

/* CSS for 1000px */
@media only screen and (min-width: 649px) and (max-width: 1000px) {
    .faq{
        width: 70%;
        margin-left: 15%;
    }
    .faq h1{
        font-size: 40px;
    }
    .underline{
        margin-left: 30%;
        margin-right: 30%;
    }
    .faq p{
        font-size: 30px;
        margin-top: 40px;
    }
    .questions{
        width: 70%;
        margin: 0 15%;
    }
    .ques h1{
        font-size: 30px;
    }
    .btn button{
        width: 30px;
        height: 30px;
        font-size: 20px;
        margin-top: 26px;
    }
    .questions p{
        font-size: 20px;
    }
}