/* .reviewCard{
    width: 100%;
    height: 90%;
padding: 10px; */
/* border: 0.001px solid black; */
/* border-radius: 10px;
width: 280px;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
transition: transform 0.3s ease-in-out;
}

.reviewCard:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.20);
}
.reviewdiv{
    margin-top: 20px;
} */
/* Updated by Tripti */
.reviewCard{
    width: 100%;
    height: 100%;
padding: 20px 25px;
/* border: 0.001px solid black; */
border-radius: 10px;
width: 300px;
text-align: center;
margin-bottom: 5px;
margin-top: 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
transition: transform 0.3s ease-in-out;
background-color: rgb(16, 40, 66);
color: white;
}

.reviewCard:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.13);
}
.reviewdiv{
    margin-top: 20px;
}
h2{
    font-size: 35px;
    font-weight: 700;
    margin: 8px 0;
}
.review img{
    width: 60px;
}