.container{
    /* max-width: fit-content; */
}

.bannerIMG{
    position: relative;
    width: 100%;
}
.bannerimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.bannerText{
    position: absolute;
    top: 20%;
    right: 50%;
    max-width: 30%;
    color: aliceblue;
    font-family: poppins;
    font-weight: bold;
}
.bannerText h1{
    color: aliceblue;
    font-size: 2rem;
    font-family: poppins;
    font-weight: bold;
}
.bannerText p{
    color: aliceblue;
    font-size: 1rem;
    font-family: poppins;
    font-weight: bold;
}
.joinBtn{
    color: antiquewhite;
    background: blue;
    border: none;
    border-radius: 5px;
}
.joinBtn:hover{
    background: black;
    color: aliceblue;
    transition: 1.9s ease-in-out;
}
.benefits{
    max-width: 100%;
    /* border: 2px dashed red; */
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 20px;
    margin-bottom: 5%;
    
}
.benefits h3{
    font-size: 1rem;
    font-family: poppins;
    font-weight: bold;
}
.benefits h1{
    font-size: 1rem;
    font-family: poppins;
    font-weight: bold;
}

.banefit{
    display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.banefit p{
    font-size: 0.9rem;
    font-family: poppins;
}

.icon{
    font-size: 50px;
    color: aqua;
}
.contact{
    width: 100%;
    /* padding: 2%; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.contactImg{
    width: 50%
}
.contactImg img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    display: block;
}
.officeMail{
    width: 35%;
    background:#EFF1F5;
    padding: 5%;
    border-radius: 10px;
}
.NameAndEmail{
    display: flex;
}
.inputbox {
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    color: #373738;
    font-weight: lighter;
    font-family:serif;
}
.inputbox::placeholder{
    font-size: 19px;
    color: #878D97;
    font-weight: lighter;
    font-family:serif;
    padding: 5px;
}
.contactLable{
    font-size: 20px;
    color: #878D97;
    font-weight: lighter;
    font-family:serif;
   /* margin-bottom: 15px; */
}
#select{
    height: 46px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    color: #424243;
    font-weight: lighter;
    font-family:serif;
    padding: 5px;
}
.textarea{
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    color: #48494a;
    font-weight: lighter;
    font-family:serif;
    padding: 5px;
}

.contactBtn{
    width: 150px;
    height: 46px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    color: white;
    font-weight: lighter;
    font-family:serif;
    padding: 5px;
    background: rgb(255, 0, 166);
}
@media screen and (max-width: 900px) {
    .bannerText{
        top: 10%;
        right: 10%;
        max-width: 100%;
    }
    .bannerText h1{
        font-size: 1rem;
    }
    .bannerText p{
        font-size: 0.5rem;
    }
    .joinBtn{
        font-size: 10px;
    }
    .benefits{
        grid-template-columns: repeat(1,1fr);
    }
    .contact{
        flex-direction: column-reverse;
    }
    .officeMail{
        width: 90%;
    }
    .contactImg{
        width: 100%;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .bannerText{
        top: 11%;
        right: 10%;
        max-width: 100%;
    }
    .bannerText h1{
        font-size: 0.7rem;
    }
    .bannerText p{
        font-size: 0.3rem;
    }
    .contact{
        flex-direction: column-reverse;
    }
    .officeMail{
        width: 90%;
    }
    .contactImg{
        width: 100%;
    }
    .inputbox::placeholder{
        font-size: 10px;
    }
    #select{
        font-size: 10px;
    }
}

@media screen and (min-width: 900px) and  (max-width: 1200px) {
    .bannerText{
        top: 10%;
        right: 10%;
        max-width: 100%;
    }
    .bannerText h1{
        font-size: 1rem;
    }
    .bannerText p{
        font-size: 0.5rem;
    }
} 